format = """
[](#9A348E)\
$os\
[](bg:#33658A fg:#9A348E)\
$directory\
[](fg:#33658A bg:#06969A)\
$git_branch\
$git_status\
[](fg:#06969A bg:#33658A)\
$c\
$java\
$nodejs\
$rust\
[ ](fg:#33658A)\
"""

# Disable the blank line at the start of the prompt
# add_newline = false

# An alternative to the username module which displays a symbol that
# represents the current operating system
[os]
style = "bg:#9A348E"
disabled = false # Disabled by default

[directory]
style = "bg:#33658A"
format = "[ $path ]($style)"
truncation_length = 8
truncation_symbol = "…/"
fish_style_pwd_dir_length = 2

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
# Keep in mind that the order matters. For example:
# "Important Documents" = " 󰈙 "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important 󰈙 " = " 󰈙 "
# '~/dev/clients' = 'DEV'


[c]
symbol = " "
style = "bg:#33658A"
format = '[ $symbol ($version) ]($style)'

[docker_context]
symbol = " "
style = "bg:#06969A"
format = '[ $symbol $context ]($style)'

[git_branch]
symbol = ""
style = "bg:#06969A fg:#000000"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "bg:#06969A fg:#000000"
format = '[$all_status$ahead_behind ]($style)'

[java]
symbol = " "
style = "bg:#33658A"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = " "
style = "bg:#33658A"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "bg:#33658A"
format = '[ $symbol ($version) ]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#33658A"
format = '[ ♥ $time ]($style)'
